nav.nav
	ul.nav__list
		li.nav__item
			a.nav__link(href="") 
				i.fa.fa-tachometer
				span.nav__link-text Dashboard
		li.nav__item
			a.nav__link(href="") 
				i.fa.fa-pie-chart
				span.nav__link-text Reports
		li.nav__item.is-active
			a.nav__link(href="") 
				i.fa.fa-briefcase
				span.nav__link-text Customers
		li.nav__item
			a.nav__link(href="") 
				i.fa.fa-calendar
				span.nav__link-text Calendar
