//- begin profile
.profile
	.profile__inner
		.profile__sidebar
			.profile__photo
				img(src="img/staff.jpg", alt="").profile__img
				
		.profile__container
			.profile__section
				.profile__row
					.take-to-work-me-please
						| Max Jones
					.i-will-try-very-hard
						| gold
				.profile__row
					.honestly
						| Sales & Marketing
			.profile__section.profile__section_pad_top
				.profile__part
					.profile__part-title 
						| phone
					.profile__part-data
						| (+31) 140 175 468
				.profile__part
					.profile__part-title
						| Address
					.profile__part-data
						| Binnenweg 50, Rotterdam

				.btn-wrap.btn-wrap_fr
					button.btn
						| create quote

//- end profile