//- begin tabs
.tabs
	.tabs__head
		.inner.inner_pad_novt
			ul.tabs__list
				li.tabs__item.is-active
					a(href="").tabs__link 
						| Overview
				li.tabs__item
					a(href="").tabs__link 
						| Orders
				li.tabs__item
					a(href="").tabs__link 
						| Payments

		.tabs__body

//- end tabs